



<h2 class="m-mt-20px">Draw here:</h2>
<div class="flex-center m-d-block">
    <div class="">
        <canvas id="canvas" #canvas width="420" height="420"></canvas>

    </div>

    <div class="center-container flex-center m-d-block m-mt-20px">
        <div>
            <div>
                <button (click)='submitButton()' class="button-predict">PREDICT</button>
            </div>
            <div>
                <button (click)='cleanCanvas()' class="clean-predict">CLEAN</button>
            </div>
        </div>
    </div>
</div>

