
<div class="container-fluid">
    <div id="top-bar">
        <div>
            <i class="fa fa-project-diagram"></i>
            Digit Recognition (MNIST) using ANN
        </div>
        <div class="m-d-none">
            <ul>
                <!-- <li>
                    <i class="fa fa-paint-brush"></i> Example
                </li> -->
                <li>
                    <a href="https://baggelisp.github.io/" target="_blank"><i class="fa fa-user-circle mr-2px"></i> Vangelis Spathonis</a>
                </li>
                <li>
                    <a id="helpLink" (click)=openHelpModel()>
                        <i class="fa fa-info-circle mr-2px"></i> Help
                    </a>
                </li>
                <li>
                    <a href="https://github.com/baggelisp/Digit-Recognition-MNIST-ANN">
                        <i class="fa fa-github mr-2px"></i> Git
                    </a>
                </li>

            </ul>
            
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="bottom-bar">
        2020 © Vangelis Spathonis
    </div>
</div>