@media only screen and (max-width: 600px) {
    .m-d-block{
        display: block!important;
    }
    .m-d-none{
        display: none!important;
    }
    .m-w-100{
        width: 100%;
    }
    .m-padding-0{
        padding: 0!important;
    }
    .m-overflow-scroll{
        overflow: scroll!important;
    }
    .m-mt-20px{
        margin-top: 20px;
    }
  }