.tableContainer{
    border: 2px solid black; 
    width: 424px; 
    height: 424px;
    border-radius: 10px;
    background: black;
    border: 2px solid #00000029;
}

.flex-start{
    display: flex;
    justify-content: start;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.elem{
    height: 15px;
    width: 15px;
    line-height: 15px;
    
}

.back-black{
    background-color: black;
    color: white;
    border-radius: 10px;
}

.back-white{
    background-color: white;
    color: black;
}
