<div class=" m-mt-20px">
    <h2>Input to NN (Array 28x28)</h2>
    <div class="tableContainer">
        <ng-container *ngIf='drawnArray'>
            <div *ngFor="let row of drawnArray" class="flex-start">
                <div *ngFor="let item of row" >
                    <div  class="elem flex-center" [ngStyle]="{'opacity': item}" [ngClass]="{'back-black': item<0.5, 'back-white': item>0.5}">
                          
                    </div>
                </div>
            </div>
        </ng-container>
        
    </div>
</div>
