/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$fa-font-path: "~font-awesome/fonts";
 @import '~font-awesome/scss/font-awesome';

body{
    font-family: 'Montserrat', sans-serif;
}

.modal.show .modal-dialog{
    width: 80%;
    height: 80%;
    min-height: 720px;
    max-width: 80%;
}

.modal-content{
    height: 100%;
    border-radius: 10px;
}


button:focus{
    outline: none!important;
}

button:active{
    opacity: 0.9;

}

a:active{
    opacity: 0.9;
}